<ion-tabs>
  <ion-tab-bar class="bg-grey-800" slot="bottom">
    <ion-tab-button [routerLink]="'/'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goToLiveBus()">
      <ion-icon name="bus"></ion-icon>
      <ion-label>Live Bus</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="'/home'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<router-outlet></router-outlet>
